Number,EC2 Name,Instance ID,Instance Type,OS,Private IP,Public IP,EBS Volume,Availability Zone
{% set count = 0 %}
{% for i in range(1,6) %}
  {% for x in aws_ec2_name %}
    {% if count += 1 %} 
    {{ i}} {{ x }}
    {% endif %}
  {% endfor %}
{% endfor %}
