{# Header #}
Number,RDS Instance,Engine,Engine Version,Availablility Zone,DB instance Class
{% for i in range(aws_rds_instance_name|length) %}
{{ loop.index }},{{ aws_rds_instance_name[i] }},{{ aws_rds_engine[i] }},{{ aws_rds_engine_version[i] }},{{ aws_rds_instance_az[i] }},{{ aws_rds_instance_class[i] }}
{% endfor %}

Number,DB Name,Master User Name,Port,Encryption,Minor Upgrade,Security Group,Endporint Name
{% for i in range(aws_rds_instance_name|length) %}
{{ loop.index }},{{ aws_rds_db_name[i] }},{{ aws_rds_db_user[i] }},{{ aws_rds_db_port[i] }},{{ aws_rds_db_encrypion[i] }},{{ aws_rds_db_upgrade[i] }},{{ aws_rds_db_sg[i] }},,{{ aws_rds_db_endpoint[i] }}
{% endfor %}